.ProjectPage {
  section {
    margin-bottom: 2em;

    :global(.title.is-4) {
      margin-bottom: 1.5em;
      opacity: 0.7;
    }
  }
}

.ProjectPage__header {
}

.ProjectPage__info {
}

.ProjectPage__published-version {
}

.ProjectPage__versions {
}
