.Page {}

.Page__main {
  padding: 2em 0;
}

.Page--no-padding {
  .Page__main {
    padding: 0 0;
  }
}

@keyframes pageSlideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}